@font-face{
  src: url(../Fuentes/just_another_hand.woff);
  font-family: "Texto_1";
}

@font-face{
  src: url(../Fuentes/lobster.woff);
  font-family: "Texto_2";
}

@font-face{
  src: url(../Fuentes/ribeye_marrow.woff);
  font-family: "Texto_3";
}

#parrafo_1{
    font-family: "Texto_1", cursive;
    text-align: right;
    font-size: 30px;
}